@import "nullstyle.scss";
@font-face {
    font-family: 'Heebo';
    src: url('/FirstLendingPage/fonts/Heebo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heebo';
    src: url('/FirstLendingPage/fonts/Heebo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Formular';
    src: url('/FirstLendingPage/fonts/Formular-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Formular';
    src: url('/FirstLendingPage/fonts/Formular-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Formular';
    src: url('/FirstLendingPage/fonts/Formular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Formular';
    src: url('/FirstLendingPage/fonts/Formular-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Formular';
    src: url('/FirstLendingPage/fonts/Formular-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yantramanav';
    src: url('/FirstLendingPage/fonts/Yantramanav-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
// *{
// 	outline: 1px solid red;
// }
:root {
	--color-button: #8B5CF6;
	--color-header: #F9FAFB;
	--color-main: #E5E7EB;
	--color-footer: #111827;
	--color-text: #8B5CF6;
	--header-height: 192px;
	--footer-height: 234px;
	--border-size: 2px;
	--border-radius: 4px;
	--container-desktop: 1536px;
	--container-laptop-lg: 1026px;
	--container-laptop-md: 768px;
	--container-laptop-sm: 640px;
	--container-padding: 15px;
}

body{
	font-family: Formular, Arial, sans-serif;
	background-color: var(--color-main);
	
}
.main{
	gap: 72px;
	display: flex;
	flex-direction: column;
	padding-top: 72px;
	align-items: center;
	width: 100%;
}
.container{
	max-width: var(--container-desktop);
	padding-inline: var(--container-padding);
	// margin-inline: auto;
}
.footer-container{
	max-width: var(--container-desktop);
	padding-inline: var(--container-padding);
}
.button{
	transition: background-color 0.2s ease-in-out;
	&:hover{
		background-color: #6D28D9;
	}
}
.lightbox, .request-form{
	position: fixed;
	inset: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.75);
	opacity: 0;
	transition: opacity 0.2s ease;
	img{
		max-width: 40vw;
		max-height: 40vw;
		object-fit: cover;
		cursor: zoom-out;
	}
}
.show{
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.request-container{
	background-color: var(--color-header);
	padding: 26px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 20vw;
	margin-inline: auto;
	width: 100%;
	border-radius: 8px;
}
.request-form-title{
	text-align: center;
	font-size: 20px;
	font-weight: 900;
}
.request-form-grid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 16px;
}
.header{
	background-color: var(--color-header);
	min-height: var(--header-height);
	display: flex;
	flex-direction: column;
	gap: 24px;
	// padding-inline: 192px;
	padding-block: 24px;
	align-items: center;
}
.top-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.logo-header{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo-text{
	font-weight: 900;
	line-height: 32px;
	font-size: 24px;
}
.info-header{
	display: flex;
	gap: 12px;
	align-items: center;
}
.logo{
	display: flex;
	align-items: center;
}
.info-left{
	text-align: right;
	line-height: 24px;
	// border-right: 1px solid var(--color-text);
	position: relative;
	margin-right: 12px;
	&::after{
		content: '';
		width: 1px;
		height: 76px;
		background-color: var(--color-text);
		position: absolute;
		top: -1px;
		left: 104%;
		// padding-inline: 12px;
		// transform: translateY(50%);
	}
}
.info-right{
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.info-phone, .footer-right-number{
	font-weight: 900;
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.info-note, .footer-right-text{
	font-size: clamp(1.25rem, 0.6vw + 1rem, 1.5rem); 
	line-height: clamp(1.75rem, 0.6vw + 1.25rem, 2rem);
	font-weight: 300;
}
.bottom-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.list-header{
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 24px;
	font-weight: 700;
}
.item-header{
	transition: color 0.2s;
	cursor: pointer;

	&:hover{
	color: var(--color-text);
	}
}
.button-request{
	padding-inline: 28px;
	padding-block: 10px;
	font-size: 16px;
	background-color: var(--color-button);
	color: #fff;
	border-radius: var(--border-radius);
	border: none;
	font-weight: 700;
}
.is-active{
	color: var(--color-text);
	border-bottom: 2px dashed var(--color-text);
}

.calculator{
	display: flex;
	gap: 24px;
	align-items: center;
	width: 100%;
}
.calculator-delivery{
	background-color: var(--color-header);
	padding-inline: 27px;
	padding-block: 24px;
	display: flex;
	flex-direction: column;
	gap: 23px;
	border-radius: 16px;
	max-width: 756px;
	width: 100%;
}
.calculator-text{
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	max-width: 358px;
	margin-inline: auto;
}
.calculator-title{
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}
.calculator-description{
	font-weight: 400;
	text-align: center;
}
.calculator-grid{
	display: grid;
	gap: 28px;
	grid-template-columns: repeat(2, 1fr);
	margin-inline: auto;
	max-width: 496px;
}
.grid-item{
	max-height: 46px;
	input, textarea{
		width: 100%;
		padding: 12px;
		border: 2px solid;
		border-radius: 6px;
		user-select: none;
		resize: none;
		max-height: inherit;
	}
}
img{
	user-select: none;
}
.grid-button{
	background-color: var(--color-button);
	padding: 10px 28px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	border: none;
	width: 100%;
}
.full{
	grid-column: span 2
}
.delivery-info{
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 756px;
}
.delivery-text{
	display: flex;
	flex-direction: column;
	gap: 12px;
	// max-width: 756px;
}
.delivery-title{
	font-weight: 900;
	font-size: 36px;
	line-height: 40px;
	text-align: left;
}
.delivery-description{
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
}
.advantages{
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}
.advantages-title{
	font-weight: 900;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
}
.advantages-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
}
.advantages-item{
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 24px;
}
.advantages-item-text{
	display: flex;
	flex-direction: column;
	max-width: 300px;
	gap: 12px;
}
.advantages-item-title{
	font-size: 24px;
	font-weight: 900;
	line-height: 32px;
}
.advantages-item-description{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
.guarantees{
	display: flex;
	flex-direction: column;
	gap: 36px;
}
.guarantess-main{
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.guarantees-text{
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 756px;
	padding-inline: 16px;
	margin-inline: auto;
}
.guarantees-title{
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}
.guarantees-description{
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.guarantees-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
}
.guarantees-item{
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.guarantees-img{
	max-height: 375px;
	object-fit: contain;
	cursor: pointer;
}
.guarantees-item-description{
	text-align: center;
	font-weight: 900;
	font-size: 18px;	
}
.guarantees-button{
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	background-color: var(--color-button);
	max-width: 315px;
	padding-inline: 28px;
	padding-block: 16px;
	gap: 4px;
	border-radius: 12px;
	border: none;
	margin-inline: auto;
}
.reviews{
	display: flex;
	gap: 47px;
	padding-inline: 23px;
	flex-direction: row;
	margin-inline: auto;
	max-width: 100vw;
}
.arrow{
	background: none;
	border: none;
	z-index: 100;
	padding: 0;
}
.reviews-form{
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 1536px;
	justify-content: center;
}
.reviews-title{
	font-size: 30px;
	line-height: 36px;
	font-weight: 900;
	margin-inline: auto;
}
.reviews-cards-wrapper{
	overflow: hidden;
	width: 100%;
	margin-inline: auto;
	max-width: 1276px;
}
.reviews-cards{
	display: flex;
	gap: 24px;
	transition: translate 0.5s ease-in-out;
	// justify-content: center;
}
.reviews-item{
	background-color: var(--color-header);
	border-radius: 16px;
	padding-inline: 32px;
	padding-block: 32px;
	gap: 30px;
	max-width: 626px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	flex: 0 0 50%;
  	box-sizing: border-box;
}

.reviews-text{
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	max-width: 540px;
	position: relative;
}
.reviews-name{
	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
	color: #6B7280;
	position: relative;
	&::after{
		content: url(/FirstLendingPage/icons/Quotes.svg);
		position: absolute;
		top: -55px;
		left: 89%;
		max-width: 75px;
		max-height: 75px;
		padding: 0;
	}
}
.contact{
	width: 100%;
	margin-bottom: 72px;
}
.contact-form{
	display: flex;
	flex-direction: column;
	background-color: var(--color-header);
	gap: 32px;
	border-radius: 16px;
	padding: 64px;
	// width: 100%;
}
.contact-title{
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}
.contact-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	margin-inline: auto;
	grid-template-rows: repeat(5, 1fr);
}
.big{
	grid-row: span 3;
	textarea{
		min-height: 150px;
	}
}
.footer{
	display: flex;
	flex-direction: column;
	padding-inline: 192px;
	padding-block: 40px;
	gap: 24px;
	background-color: var(--color-footer);
	color: #fff;
}
.footer-top{
	display: flex;
	justify-content: space-between;
}
.menu-list-footer{
	display: flex;
	align-items: center;
}
.list-footer{
	display: flex;
	gap: 24px;
	align-items: center;
}
.footer-middle{
	display: flex;
	justify-content: center;
}
.footer-down{
	display: flex;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	color: #4B5563;
	justify-content: space-between;
}
.footer-left{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.footer-left-logo{
	display: flex;
	gap: 4px;
	align-items: center;
	p{
		font-size: 24px;
		line-height: 32px;
		font-weight: 900;
	}
}
.footer-left-rules{
	font-size: 12px;
	line-height: 16px;
}
.footer-right{
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
}
// .footer-right-number{
// 	font-size: 36px;
// 	font-weight: 900;
// 	line-height: 40px;
// }
.footer-down-left{
	max-width: 1146px;
}
.footer-down-right{
	max-width: 242px;
	text-align: right;
}
.burger {
	display: none; /* скрыт на десктопе */
	flex-direction: column;
	justify-content: space-between;
	width: 24px;
	height: 16px;
	cursor: pointer;
}
.burger span {
	height: 4px;
	background: #A78BFA;
	border-radius: 100px;
}
.visually-hidden {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}



@media (max-width: 1536px){
	.header{
		// padding-inline: 256px;
	}
	.container{
		max-width: var(--container-laptop-lg);
		padding-inline: var(--container-padding);
	}
	.footer-container{
		max-width: var(--container-desktop);
	}
	.info-phone, .footer-right-number{
		font-size: clamp(1.5rem, 1vw + 1rem, 1.875rem);
		line-height: clamp(2.25rem, 2.5vw + 1rem, 2.5rem);
	}
	.info-note, .footer-right-text{
		font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
		line-height: clamp(1.5rem, 1vw + 0.75rem, 1.75rem);
	}
	.main{
		padding-top: 48px;
		gap: 48px;
	}
	.calculator{
		gap: 48px;
		flex-direction: column;
		// max-width: 1026px;
	}
	.delivery-info{
		gap: 16px;
		flex-direction: row;
		max-width: 1026px;
	}
	.delivery-text{
		width: 50%;
	}
	.delivery-img{
		width: 50%;
	}
	.calculator-delivery{
		max-width: 1026px;
	}
	.calculator-grid{
		max-width: 606px;
	}
	.advantages-grid{
		grid-template-columns: repeat(2, 1fr);
	}
	.guarantees-grid{
		grid-template-columns: repeat(2, 1fr);
	}
	.guarantees-item{
		max-width: 396px;
	}
	.reviews{
		max-width: 1026px;
		gap: 35px;
		padding-inline: 10px;
	}
	.reviews-item{
		max-width: 396px;
		padding: 16px;
		gap: 24px;
	}
	.reviews-cards-wrapper{
		max-width: 816px;
	}
	.reviews-text{
		font-size: 18px;
		line-height: 28px;
	}
	.reviews-name{
		font-size: 16px;
		&::after{
			top: -55px;
			left: 79%;
		}
	}
	.contact{
		margin-bottom: 48px;
	}
}
@media (max-width: 1024px){
	.header{
		// padding-inline: 128px;
		gap: 12px;
	}
	.container{
		max-width:var(--container-laptop-md);
		padding-inline: var(--container-padding);
	}
	.footer-container{
		max-width: var(--container-laptop-md);
	}
	.top-header{
		flex-direction: column;
	}
	.logo-header{
		justify-content: space-between;
	}
	.logo{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.info-phone, .footer-right-number{
		font-size: clamp(1.25rem, 1.5vw + 0.5rem, 1.5rem);
		line-height: clamp(2rem, 2.5vw + 0.5rem, 2.25rem);
	}
	.info-note, .footer-right-text{
		font-size: clamp(0.875rem, 1vw + 0.25rem, 1rem);
		line-height: clamp(1.25rem, 1vw + 0.25rem, 1.5rem);
	}
	.info-left{
		display: flex;
		flex-direction: row;
		gap: 8px;
		margin: 0;
		p{
			text-align: center;
			font-size: 14px;
			line-height: 20px;
			flex: 0 0 33%;
		}
		&::after{
			content: none;
		}
	}
	.delivery-info{
		flex-direction: column;
		max-width: 768px;
	}
	.delivery-text{
		max-width: 768px;
		width: 100%;
	}
	.delivery-img{
		width: 100%;
	}
	.advantages-item{
		padding: 0;
		img{
			max-width: 109px;
			aspect-ratio: 1;
		}
	}
	.advantages-item-title{
		font-size: 20px;
		line-height: 28px;
	}
	.reviews{
		padding-inline: 7px;
		gap: 32px;
	}
	.reviews-cards-wrapper{
		max-width: 570px;
	}
	.reviews-item{
		max-width: 570px;
		flex: 0 0 100%;
	}
	.reviews-name{
		&::after{
			top: -35px;
			left: 85%;
		}
	}
	.footer{
		padding-inline: 128px;
	}
	.footer-top{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
		'top top'
		'bottom-left bottom-right';
	}
	.footer-middle{
		grid-area: top;
	}
	.footer-right{
		grid-area: bottom-right;
		p{
			text-align: right;
		}
	}
	.footer-left{
		grid-area: bottom-left;
	}
	.footer-down{
		flex-direction: column;
		gap: 8px;
		p{
			text-align: center;
		}
	}
	.footer-down-right{
		max-width: 768px;
	}
	
}
@media (max-width: 758px){
	.header{
		// padding-inline: 60px;
		padding-block: 8px;
		gap: 0;
		min-height: 90px;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}
	.container{
		max-width:var(--container-laptop-sm);
		padding-inline: var(--container-padding);
	}
	.footer-container{
		max-width: var(--container-laptop-sm);
	}
	.logo-header{
		margin-bottom: 12px;
	}
	.info-right{
		flex-direction: row;
		align-items: center;
		gap: 16px;
  	}
	.logo-text{
		font-size: 18px;
		line-height: 28px;
	}
	.info-phone, .footer-right-number{
		font-size: clamp(1rem, 2vw + 0.25rem, 1.25rem);
		line-height: clamp(1.75rem, 2.5vw + 0.25rem, 2rem);
	}
	.burger {
		display: flex;
	}
	.info-left{
		max-width: 640px;
		width: 100%;
		p{
			text-align: center;
			flex: 0 1 auto;
			&:nth-child(1){
				flex: 185px;
			}
			&:nth-child(2){
				flex: 185px;
			}
			&:nth-child(3){
				flex: 223px;
			}
		}

	}
	.info-left,
	.info-note {
		display: none;
	}
	.bottom-header {
		display: none;
		flex-direction: column;
	}
	.bottom-header.active {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		max-width: 640px;
	}
	.menu-list-header ul {
		flex-direction: row;
		gap: 24px;
	}
	.bottom-header .info-left,
	.bottom-header .info-note {
		display: flex;
		// margin-top: 15px;
	}
	.burger-menu{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 24px;
	}
	.delivery-title{
		font-size: 30px;
		line-height: 36px;
	}
	.advantages-grid, .guarantees-grid{
		grid-template-columns: repeat(1, 1fr);
	}
	.advantages-item, .guarantees-item{
		margin-inline: auto;
	}
	.reviews-cards-wrapper{
		max-width: 442px;
	}
	.reviews-name{
		&::after{
			top: -35px;
			left: 80%;
		}
	}
	.footer-top{
		grid-template-columns: repeat(1, 1fr);
		gap: 24px;
		grid-template-areas: 
		'top'
		'bottom-right'
		'bottom-left';
	}
	.footer-left,  .footer-right{
		margin-inline: auto;
	}
	.footer-left-logo{
		justify-content: center;
	}
}
@media (max-width: 576px){
	.main{
		gap: 22px;
	}
	.container{
		padding-inline: 10px;
	}
	.info-phone, .footer-right-number{
		font-size: clamp(0.875rem, 2vw, 1rem);;
		line-height: 1.75rem;
	}
	.item-header{
		p{
			font-size: 14px;
		}
	}
	.menu-list-header ul {
		gap: 12px;
	}
	.burger-menu{
		gap: 12px;
	}
	.calculator{
		gap: 24px;
	}
	.calculator-button{
		margin-top: 10px;
	}
	.calculator-delivery{
		gap: 14px;
	}
	.calculator-grid{
		gap: 8px;
		grid-template-columns: repeat(1, 1fr);
	}
	.reviews-form{
		max-width: 100vw;
	}
	.reviews-cards-wrapper{
		max-width: 100vw;
	}
	.reviews-item{
		gap: 16px;
		padding: 8px;
		max-width: 100vw;
		flex: 0 0 auto;
		scroll-snap-align: start;
	}
	.reviews-text{
		max-width: 100vw;
	}
	.reviews-cards {
		// overflow-x: auto;
		flex-wrap: nowrap;
		max-width: 100vw;
		box-sizing: border-box;
		// scroll-snap-type: x mandatory;
	}
	.arrow{
		display: none;
	}
	.contact-form{
		padding-block: 16px;
		gap: 16px;
		max-width: 100vw;
	}
	.contact-grid{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(7, 1fr);
		margin-inline: 0;
		gap: 12px;
	}
	.footer{
		padding-inline: 30px;
		padding-block: 20px;
	}
	.button-request{
		padding-inline: 16px;
		padding-block: 8px;
		font-size: 14px;
	}
	.bottom-header.active {
		gap: 12px;
	}
	.big{
		grid-row: span 2;
		textarea{
			min-height: auto;
			max-height: 100px;
		}
	}
	.full{
		grid-column: span 1;
	}
	.grid-item{
		padding: 6px;
	}
}